body{
  margin: 0;
  text-align: center;
  background-color: #eedad1;
}

a{
  color: #F0F8FF;
}

h1, h2, h3{
  font-family: "Ubuntu";
}

h1{
  font-size: 5.625rem;
}

h2{
  font-weight: 600;
  letter-spacing: 1px;
}

p{
  font-family: "Montserrat";
  color: #5E5E5E;
  font-weight: 600;
  line-height: 2;
  font-size: 1.25rem;
}





/* Top Section */

.text-color{
  color: #F0F8FF;
}

#top-container{
  background-color: #383e56;
  margin-top: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.first-image{
  width: 400px;
  margin-bottom: 10px;
}

.first-heading{
  font-weight: 900;
  font-size: 3.0rem;
  color: #F0F8FF;
}

.first-heading-h{
  font-weight: 900;
  font-size: 1.5rem;
  color: #F0F8FF;
}

.first-heading-container{
  margin: 1rem auto;
}

.second-heading-container{
  margin: 1rem auto;
}

.nav-link{
  font-size: 1.2rem;
}

.a: hover {
  background-color: yellow;
}



.first-description{
  color: #F0F8FF;
  padding:0.1rem 1rem;
  font-weight: 400;
}

/* About Section */

#about-section{
  padding: 100px 0 100px;
  width: 50%;
  margin: 0 auto;
}

.about-intro{
  margin: 20px auto 20px;
  font-size: 3rem;
  font-weight: 900;
  color: #2F4F4F;
  text-decoration: underline;
}


/* Skills Section */

#skills{
  background-color: #FAFAD2;
  padding: 100px 0 100px;

}


#about{
  background-color: #FFFAFA;
  padding: 100px 0 100px;

}

#projects{
  background-color: #E6E6FA;
  padding: 100px 0 100px;

}

#resume{
  background-color: #DCDCDC;
  padding: 100px 0 100px;

}


#publications{
  background-color: #E0FFFF;
  padding: 100px 0 100px;

}

.row-skills-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.block-skills-flex {
  width: 100px;
}
.a-ref{
  color: #5E5E5E;
  

}
.second-heading{
  margin: 20px auto 20px;
  font-size: 3rem;
  font-weight: 900;
  color: #2F4F4F;
  text-decoration: underline;
}

.skill-row{
  width: 100%;
  margin: 150px auto 0;
  text-align: left;
}

/* .skill-row{
  width:50%;
  margin: 100px auto 150px;

} */

.icon-fiverr {
  background: url('images/fiverr.png');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}
.computer-image{
  width: 90%;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;;
}

.ds-image{
  width: 90%;
 
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;;
}

.tt-image{
  border-radius: 50%;
  
}

.image-container{
  text-align: left;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill-description{
  text-align: left;
}


.skill-name{
  font-size: 2rem;
  font-weight: 900;
  color: #FF7F50;
}

.skill-name-name{
  font-size: 1.5rem;
  font-weight: 900;
  color: #FF7F50;
}

.skill-paragraph{
  font-size: 2rem;
  font-weight: 900;
  color: #FF7F50;

}

.centre-div{
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: 30px;
 
}

.centre-div-p{
  left: 400px;
  margin-left: 450px;
 
}

.about-paragraph{
  font-size: 1rem;
  font-weight: 600;
  color: #2F4F4F;
  text-align: center;

}

.about-paragraph-p{
  font-size: 1rem;
  font-weight: 600;
  color: #2F4F4F;
  text-align: left;

}

#contact-section{
  padding: 0 0 100px;
  background-color:#F5F5F5;
  color:#ff8000;
}

.contact-me{
  width: 50%;
  margin: 70px auto 100px;
}

.freelance{
  margin: 40px auto 60px;
  color: #5E5E5E;
}

.btn{
  background-color:#f69e7b;
  border-radius: 12px;
  border: 0;
  color: #eadad1;
  text-align: center;
}

.btn:hover{
  background-color:#ff8000;
}

.anchor_tag{
  color:  #383e56;
}

#bottom-container{
  margin-bottom: 0;
  padding: 50px 0 50px 0;
  background-color: #383e56;
  color: #eadad1;
}

.contact-message{
  margin:40px auto 60px;
}


.copyright{
  color:#eadad1;
  font-size: 0.75rem;
  margin-top: 30px;
}

.contact-icon{
  margin-left: 5px;
  margin-right: 5px;
}


.contact-icon:hover{
  color:#f69e7b;
}

.contact-icon-top{
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}


.contact-icon-top:hover{
  color:#f69e7b;
}


/*
@media (max-width: 800px) {

  .contact-me{
    width: 75%;
  }

  .skill-row{
    width: 80%;
  }
} */

@media (max-width: 1400px){
  .tt-image-contaner{
    margin-top: 20px;
  }

  .skill-row{
    width: 75%;
  }

  
}


@media (max-width:800px){
  .skill-row{
    max-width: 85%;
  }

  .first-image{
    max-width: 300px;
    margin-bottom: 10px;
  }

  .about-intro{
    margin: 20px auto 20px;
    font-size: 3rem;
    font-weight: 900;
    color: #2F4F4F;
    text-decoration: underline;
    max-width: 100%;
  }

  .computer-image{
    max-width: 100%;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    height: auto;
  }
  
  .ds-image{
    max-width: 100%;
    float: right;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    height: auto;
  }
  
  .tt-image{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .centre-div-p{
    left: 10px;
    margin-left: 10px;
   
  }
  
  
  
  .about-paragraph-p{
    font-size: 0.9rem;
    font-weight: 600;
    color: #2F4F4F;
    text-align: left;
  
  }
  
  
}
