*,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#firstintro {
  background-color: #383e56;
  margin-top: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80%;
}

.profile-image {
  width: 400px;
  margin-bottom: 10px;
}

.profile-name {
  font-weight: 600;
  font-size: 3rem;
  color: #f0f8ff;
  padding-top: 2rem;
}

.profile-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
  color: #f0f8ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.typewrite {
  font-weight: 400;
  font-size: 1.5rem;
  color: #f0f8ff;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  padding-top: 3rem;
}

.nav-item {
  display: inline;
  padding-right: 1rem;
}

.nav-link {
  font-weight: 200;
  font-size: 1.3rem;
  color: #f0f8ff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
  color: darkorange;
  text-shadow: rgb(214, 214, 14);
}

.social {
  padding-top: 4rem;
}
.contact-icon-top {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: beige;
  padding-right: 0.5rem;
}

.contact-icon-top:hover {
  color: #f69e7b;
}

.social-bottom {
    padding-top: 4rem;
  }
  .contact-icon-bottom {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: beige;
    padding-right: 0.1rem;

  }
  
  .contact-icon-bottom:hover {
    color:royalblue;
  }

#bottom-container{
    margin-bottom: 0;
    padding: 50px 0 50px 0;
    background-color: #383e56;
    color: beige;
    text-align: center;
    
}

.copyright{
  color:beige;
  font-size: 1rem;
  margin-top: 1rem;
  text-decoration: None;
}

.section-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#2F4F4F;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}



/*for mobiles*/

@media (max-width: 900px) {
  #firstintro {
    background-color: #383e56;
    margin-top: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .profile-image {
    width: 250px;
    margin-bottom: 10px;
  }

  .profile-name {
    font-weight: 600;
    font-size: 1.8rem;
    color: #f0f8ff;
    padding-top: 1rem;
  }

  .profile-subtitle {
    font-weight: 500;
    font-size: 1rem;
    color: #f0f8ff;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .typewrite {
    font-weight: 400;
    font-size: 1rem;
    color: #f0f8ff;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
  }

  .navbar {
    padding-top: 2.5rem;
  }

  .nav-item {
    display: block;
    padding-bottom: 0.7rem;
  }

  .nav-link {
    font-weight: 200;
    font-size: 1rem;
    color: #f0f8ff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .social {
    padding-top: 1rem;
  }
}
