*,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#firstintro {
  background-color: #383e56;
  margin-top: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80%;
}

.profile-image {
  width: 400px;
  margin-bottom: 10px;
}

.profile-name {
  font-weight: 600;
  font-size: 3rem;
  color: #f0f8ff;
  padding-top: 2rem;
}

.profile-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
  color: #f0f8ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.typewrite {
  font-weight: 400;
  font-size: 1.5rem;
  color: #f0f8ff;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  padding-top: 3rem;
}

.nav-item {
  display: inline;
  padding-right: 1rem;
}

.nav-link {
  font-weight: 200;
  font-size: 1.3rem;
  color: #f0f8ff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
  text-decoration: None;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #f89420;
  background-image: linear-gradient(to right,#f89420,#ed2330);
  border-radius: .375rem;
  color: #fff;
  font-weight: 900;
}

.social {
  padding-top: 4rem;
}
.contact-icon-top {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: beige;
  padding-right: 0.5rem;
}

.contact-icon-top:hover {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #f89420;
  background-image: linear-gradient(to left,#f89420,#ed2330);
  border-radius: .375rem;
  color: #fff;
  font-weight: 900;
}

.social-bottom {
    padding-top: 4rem;
}
.contact-icon-bottom {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: beige;
    padding-right: 0.1rem;

}
  
.contact-icon-bottom:hover {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #B0C4DE;
    background-image: linear-gradient(to right,#B0C4DE,#7B68EE);
    border-radius: .375rem;
    color: darkblue;
    font-weight: 900;
}

#bottom-container{
    margin-bottom: 0;
    padding: 50px 0 50px 0;
    background-color: #383e56;
    color: beige;
    text-align: center;
    
}

.copyright{
  color:beige;
  font-size: 1rem;
  margin-top: 1rem;
  text-decoration: None;
}

.section-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#2F4F4F;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.section-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#2F4F4F;
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align:justify;
  font-size: 1.3rem;
  padding-left: 30rem;
  padding-right: 30rem;
  line-height: 2rem;
  
}

.area-expertise{
  padding-left: 10rem;
}

.expertise-list{
  padding-left: 3rem;
}

.resume-download{
  text-align:center;
  padding-bottom: 4rem;

}

.resume-download-a{
  text-decoration: None;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f89420;
  background-image: linear-gradient(to right,#f89420,#ed2330);
  border-radius: .375rem;
  color: #fff;
  font-weight: 900;
}

.resume-download-a:hover{
  background-image: linear-gradient(to right,#ed2330, #f89420);
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 50%);
  
}




/*for mobiles*/

@media (max-width: 900px) {
  #firstintro {
    background-color: #383e56;
    margin-top: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 160px;
  }

  .profile-image {
    width: 250px;
    margin-bottom: 10px;
  }

  .profile-name {
    font-weight: 600;
    font-size: 1.8rem;
    color: #f0f8ff;
    padding-top: 1rem;
  }

  .profile-subtitle {
    font-weight: 500;
    font-size: 1rem;
    color: #f0f8ff;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .typewrite {
    font-weight: 400;
    font-size: 1rem;
    color: #f0f8ff;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
  }

  .navbar {
    padding-top: 2.5rem;
  }

  .nav-item {
    display: block;
    padding-bottom: 0.7rem;
  }

  .nav-link {
    font-weight: 200;
    font-size: 1rem;
    color: #f0f8ff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .social {
    padding-top: 1rem;
  }

  .section-heading{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  .section-content{
    padding-top: 1rem;
    padding-bottom: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 1.8rem;
    font-size: 1.1rem;   
  }
  
  .area-expertise{
    padding-left: 4rem;
  }
  
  .expertise-list{
    padding-left: 2rem;
  }

  .resume-download{
    padding-bottom: 1rem;
  }

  .resume-embed{
    display: none;
  }
  
  
}
